:root {
  --size: 35vh;
  --text-size: 5.5vw;
}

.App {
  font-size: var(--text-size);
  text-align: center;
  background-color: #0099ff;
  height: 100vh;
}

.topPanel {
  background-color: white;
  height: var(--size);
}

.svgWrapper {
  width: 100%;
}

.svg {
  position: absolute;
  top: var(--size);
  left: 0;
}

.texts {
  z-index: 5;
  position: absolute;
  top: var(--size);
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: calc(var(--text-size) * 3);
}

.bottomText {
  color: white;
}
