:root {
  --size: 35vh;
  --text-size: 10vw;
  --k: 0.5;
}

.App {
  font-size: var(--text-size);
  text-align: center;
  height: 100vh;
  user-select: none;
  transition: all 0.3s ease-out;
}

.topPanel {
  background-color: white;
  height: var(--size);
}

.svgWrapper {
  width: 100%;
}

.svg {
  position: absolute;
  top: var(--size);
  left: 0;
}

.texts {
  z-index: 5;
  position: absolute;
  top: calc(var(--size) - var(--text-size) * var(--k));
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: calc(var(--text-size) * 3);
}

.bottomText {
  color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: #f7e200;
}

.green {
  background-color: #00cb29;
}

.blue {
  background-color: #0099ff;
}
